@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

/*Trata do corpo geral do site*/
body{
   font-family: 'Lato', sans-serif;
   background: #000081 ;
   background-size: cover; /*Ajusta background para preencher monitor*/
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column; 
   justify-content: center;
   align-items: center;
   min-height: 100vh;
 }

 /*DIV que trata da caixa principal, contando com Formulario e resposta*/
#conversao {
 padding: 5px 20px 5px 20px;
 font-size: 20px;
 height: 650px;
 width: 500px;
 background-color: #fffcff;
 display: flex;
 flex-direction: column;
 border-radius: 10px;
 outline: 40px ;
}

/*Div que trata apenas do formulario*/
#conversorMoedas {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  width: 100%;
  padding: 12px 20px 12px 20px;
  margin: 16px 8px 20px 8px;
  box-sizing: border-box;
}

/*classe para aplicar propriedades as caixas de seleção, exceto ao botão*/
.input {
  font-size: 15px;
  margin: 15px;
  border: 2px solid #0c0bb8;
  border-radius: 4px;
}

/*Div para aplicar propriedades ao botão de calcular resultado*/
#botaoCalcular{
  border: 2px solid #489c90;
  background-color: #489c79;
  color: #fffcff;
  font-size: 19px;
}

/*classe para tratar da aparencia das seleções quando há interação com as mesmas*/
.input:focus{
  margin: 15px;
  border: 2px solid #11112e;
}

/*Div para tratar do cabecalho do formulario*/
#cabecalho {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 10px 20px 10px 20px;
}

/*aplica formatação de tamanho de fonte e margem para titulo*/
h1 {
 font-size: 40px;
 margin-left: 20px;
}

/*aplica atributos a imagem, dimensionando no site*/
#img1 {
  width: 40px;
  height: 40px;
  float: inline-start;
}
